html
  head
  body
    script.amocrm_oauth(
      charset='utf-8' 
      data-client-id='c5e9efbe-33a8-48ec-9879-53000b074542' 
      data-title='Установить интеграцию' 
      data-compact='false' 
      data-class-name='className' 
      data-color='default' 
      data-state='state' 
      data-error-callback='functionName' 
      data-mode='popup' 
      src='https://www.amocrm.ru/auth/button.min.js' 
      data-error='access_denied'
    )
